.blog-wrapper {
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'cards cards cards cards'
                         'email email email email'
                         'footer footer footer footer';
}

.post-wrapper {
    grid-template-areas: 'nav nav nav nav nav'
                         'post post post post post'
                         'email email email email email'
                         'footer footer footer footer footer';
}

.subscribe-form {
    background-color: #f96262;
    width: 30%;
    grid-area: email;
    margin: 3rem auto;
    border-radius: 10px;
    padding: 1rem;
}

.subscribe-form--head {
    text-align: center;
    font-family: 'Raleway', sans-serif;
}

.subscribe-form--label,
.subscribe-form--input {
    display: block;
    font-family: 'Open Sans', sans-serif;
}

.subscribe-form--label {
    margin-top: 1rem;
    color: #fff;
}
.subscribe-form--input {
    background-color: #f96262;
    padding: .5rem 0 .1rem;
    border: none;
    border-bottom: 2px solid #faeee7;
    width: 100%;
    font-size: 1rem;
}
