.wrapper{
    background-color:#faeee7;
    border: 5px solid #f96262;
    display: grid;
    grid-template-areas: 'nav nav nav nav'
                         'header header header header'
                         'cards cards cards cards'
                         'email email email email'
                         'footer footer footer footer';
}
